<div class="auth-page">
  <div class="auth-page-overlay">
    <div class="auth-page-container">
      <div class="auth-card border mx-3">
        <div class="mb-2 d-flex flex-row" style="gap: 10px;">
          <img src="/logotsp.png" height="30" alt="Logo" class="auth-logo">
          <h2 class="title">{{ title }}</h2>
        </div>
        <hr style="margin-top: 13px; !important;">
        <ng-content></ng-content>
        <hr>
        <div class="text-center">
          {{ linkPrompt }}
          <a [routerLink]="linkRoute" class="alert-link">
            {{ linkText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed bottom-0 end-0 mb-3 me-3" style="z-index: 1500;">
  <button
    class="btn btn-primary"
    style="padding-bottom: 10px; box-sizing: initial;"
    (click)="themeSwitch()"
  >
    <lucide-angular [img]="sunMoonIcon" size="20"/>
  </button>
</div>
