.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background: #212529;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.title-bar {
  background: #2d3238;
  color: white;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  font-weight: bold;
}

.close-btn {
  background: #14294d00;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  cursor: pointer;
  height: 100%;
  border-left: #464646 1px solid;
}

.close-btn:hover {
  background: #14294d;
}

.lucide {
  margin-top: 7px;
  margin-bottom: 7px;
  color: white;
}

.close-btn button {
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
  margin-left: 1px;
}

.modal-body {
  padding: 1.2rem 1rem 1rem;
}
