.min-width {
  min-width: 250px !important;
}

.ms12 {
  margin-left: 12px !important;
  padding-top: 14px !important;
}

.sidebar-heading {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
}

.hov-cur{
  cursor: pointer;
}
